/* footer styling  */
.footer {
  background: var(--glass);
  border-top: 1px solid rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  text-align: center;
  padding: 1.5rem;
  color: var(--muted);
  font-size: 0.9rem;
}

.subtext {
  font-size: 0.85rem;
  color: var(--accent);
  margin-top: 0.3rem;
}
